.modalBackground
  .modal.fanzhongPanel
    .fanzhongList
      .fanzhongList__row
        div 88点
        ul.fanzhongList__items(data-fenshu="88")
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="大四喜") 大四喜
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="大三元") 大三元
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="十三幺") 十三幺
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="绿一色") 绿一色
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="九莲宝灯") 九莲宝灯
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="连七对") 连七对
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="四杠") 四杠
      .fanzhongList__row
        div 64点
        ul.fanzhongList__items(data-fenshu="64")
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="小四喜") 小四喜
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="小三元") 小三元
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="字一色") 字一色
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="一色双龙会") 一色双龙会
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="清幺九") 清幺九
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="四暗刻") 四暗刻
      .fanzhongList__row
        div 48点
        ul.fanzhongList__items(data-fenshu="48")
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="一色四同顺") 一色四同顺
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="一色四节高") 一色四节高
      .fanzhongList__row
        div 32点
        ul.fanzhongList__items(data-fenshu="32")
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="一色四步高") 一色四步高
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="混幺九") 混幺九
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="三杠") 三杠
      .fanzhongList__row
        div 24点
        ul.fanzhongList__items(data-fenshu="24")
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="七对") 七对
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="七星不靠") 七星不靠
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="清一色") 清一色
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="一色三同顺") 一色三同顺
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="一色三节高") 一色三节高
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="全大") 全大
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="全中") 全中
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="全小") 全小
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="全双刻") 全双刻
      .fanzhongList__row
        div 16点
        ul.fanzhongList__items(data-fenshu="16")
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="清龙") 清龙
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="一色三步高") 一色三步高
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="三色双龙会") 三色双龙会
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="全带五") 全带五
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="三同刻") 三同刻
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="三暗刻") 三暗刻
      .fanzhongList__row
        div 12点
        ul.fanzhongList__items(data-fenshu="12")
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="全不靠") 全不靠
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="组合龙") 组合龙
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="大于五") 大于五
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="小于五") 小于五
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="三风刻") 三风刻
      .fanzhongList__row
        div 8点
        ul.fanzhongList__items(data-fenshu="8")
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="花龙") 花龙
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="三色三同顺") 三色三同顺
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="三色三节高") 三色三节高
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="无番和") 无番和
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="推不倒") 推不倒
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="妙手回春") 妙手回春
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="海底捞月") 海底捞月
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="杠上开花") 杠上开花
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="抢杠和") 抢杠和
      .fanzhongList__row
        div 6点
        ul.fanzhongList__items(data-fenshu="6")
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="碰碰和") 碰碰和
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="混一色") 混一色
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="全求人") 全求人
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="三色三步高") 三色三步高
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="五门齐") 五门齐
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="双暗杠") 双暗杠
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="双箭刻") 双箭刻
      .fanzhongList__row
        div 5点
        ul.fanzhongList__items(data-fenshu="5")
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="明暗杠") 明暗杠
      .fanzhongList__row
        div 4点
        ul.fanzhongList__items(data-fenshu="4")
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="不求人") 不求人
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="全带幺") 全带幺
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="双明杠") 双明杠
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="和绝张") 和绝张
      .fanzhongList__row
        div 2点
        ul.fanzhongList__items(data-fenshu="2")
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="门前清") 门前清
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="断幺") 断幺
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="平和") 平和
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="箭刻") 箭刻
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="圈风刻") 圈风刻
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="门风刻") 门风刻
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="四归一") 四归一
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="双同刻") 双同刻
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="双暗刻") 双暗刻
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="暗杠") 暗杠
      .fanzhongList__row
        div 1点
        ul.fanzhongList__items(data-fenshu="1")
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="缺一门") 缺一门
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="无字") 无字
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="一般高") 一般高
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="连六") 连六
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="老少副") 老少副
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="喜相逢") 喜相逢
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="幺九刻") 幺九刻
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="明杠") 明杠
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="边张") 边张
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="坎张") 坎张
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="单钓将") 单钓将
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="自摸") 自摸
          li.fanzhongList__item
            a(href="#" data-fanzhong_zh="花牌") 花牌
    .fanzhongDisplay
      .fanzhongDisplay__rows
      .fanzhongDisplay__zongfen
    span.escape.clickready#saveFanzhong &times;
