#loaddata.
  <img class="pai" data-pai="m1" src="img/m1.gif">
  <img class="pai" data-pai="m2" src="img/m2.gif">
  <img class="pai" data-pai="m3" src="img/m3.gif">
  <img class="pai" data-pai="m4" src="img/m4.gif">
  <img class="pai" data-pai="m5" src="img/m5.gif">
  <img class="pai" data-pai="m6" src="img/m6.gif">
  <img class="pai" data-pai="m7" src="img/m7.gif">
  <img class="pai" data-pai="m8" src="img/m8.gif">
  <img class="pai" data-pai="m9" src="img/m9.gif">
  <br>
  <img class="pai" data-pai="p1" src="img/p1.gif">
  <img class="pai" data-pai="p2" src="img/p2.gif">
  <img class="pai" data-pai="p3" src="img/p3.gif">
  <img class="pai" data-pai="p4" src="img/p4.gif">
  <img class="pai" data-pai="p5" src="img/p5.gif">
  <img class="pai" data-pai="p6" src="img/p6.gif">
  <img class="pai" data-pai="p7" src="img/p7.gif">
  <img class="pai" data-pai="p8" src="img/p8.gif">
  <img class="pai" data-pai="p9" src="img/p9.gif">
  <br>
  <img class="pai" data-pai="s1" src="img/s1.gif">
  <img class="pai" data-pai="s2" src="img/s2.gif">
  <img class="pai" data-pai="s3" src="img/s3.gif">
  <img class="pai" data-pai="s4" src="img/s4.gif">
  <img class="pai" data-pai="s5" src="img/s5.gif">
  <img class="pai" data-pai="s6" src="img/s6.gif">
  <img class="pai" data-pai="s7" src="img/s7.gif">
  <img class="pai" data-pai="s8" src="img/s8.gif">
  <img class="pai" data-pai="s9" src="img/s9.gif">
  <br>
  <img class="pai" data-pai="z1" src="img/z1.gif">
  <img class="pai" data-pai="z2" src="img/z2.gif">
  <img class="pai" data-pai="z3" src="img/z3.gif">
  <img class="pai" data-pai="z4" src="img/z4.gif">
  <img class="pai" data-pai="z5" src="img/z5.gif">
  <img class="pai" data-pai="z6" src="img/z6.gif">
  <img class="pai" data-pai="z7" src="img/z7.gif">
  <br>
  <img class="pai" data-pai="h1" src="img/h1.gif">
  <img class="pai" data-pai="h2" src="img/h2.gif">
  <img class="pai" data-pai="h3" src="img/h3.gif">
  <img class="pai" data-pai="h4" src="img/h4.gif">
  <img class="pai" data-pai="h5" src="img/h5.gif">
  <img class="pai" data-pai="h6" src="img/h6.gif">
  <img class="pai" data-pai="h7" src="img/h7.gif">
  <img class="pai" data-pai="h8" src="img/h8.gif">
  <br>
  <img class="pai" data-pai="_" src="img/pai.gif">
  <br>
  <audio data-name="chi" src="audio/chi.wav" volume="0.2" preload></audio>
  <audio data-name="peng" src="audio/peng.wav" volume="0.2" preload></audio>
  <audio data-name="gang" src="audio/gang.wav" volume="0.2" preload></audio>
  <audio data-name="hu" src="audio/hu.wav" volume="0.2" preload></audio>
  <audio data-name="dapai" src="audio/dapai.wav" volume="0.2" preload></audio>
  <audio data-name="buhua" src="audio/buhua.wav" volume="0.2" preload></audio>
