#file
  h1
    img(src="img/logo2.png" alt="一人で中国麻雀")
    if page == 'paipu_list'
      |  牌譜一覧
  .version

mixin paipu_link(name)
  li
    a(href="paipu.html?paipu=paipu_log/"+name+".json") #{name}

- var paipus = ["第10回ちゅんま関東リーグ 1回戦 A卓", "第10回ちゅんま関東リーグ 2回戦 A卓", "第10回ちゅんま関東リーグ 3回戦 A卓", "第10回ちゅんま関東リーグ 4回戦 A卓", "第9回ちゅんま関東リーグ 1回戦 A卓", "第9回ちゅんま関東リーグ 2回戦 A卓", "第9回ちゅんま関東リーグ 3回戦 A卓", "第9回ちゅんま関東リーグ 4回戦 A卓", "第8回ちゅんま関東リーグ 1回戦 A卓", "第8回ちゅんま関東リーグ 2回戦 A卓", "第8回ちゅんま関東リーグ 4回戦 A卓", "第7回ちゅんま関東リーグ 1回戦 A卓", "第7回ちゅんま関東リーグ 2回戦 A卓", "第7回ちゅんま関東リーグ 4回戦 A卓", "第6回ちゅんま関東リーグ 1回戦 A卓", "第6回ちゅんま関東リーグ 2回戦 A卓", "第6回ちゅんま関東リーグ 3回戦 A卓", "第6回ちゅんま関東リーグ 4回戦 A卓", "第5回ちゅんま関東リーグ 1回戦 A卓", "第5回ちゅんま関東リーグ 2回戦 A卓", "第5回ちゅんま関東リーグ 3回戦 A卓", "第5回ちゅんま関東リーグ 4回戦 A卓", "JIOM千葉支部2021年グランドチャンピオン戦 1回戦", "JIOM千葉支部2021年グランドチャンピオン戦 2回戦", "JIOM千葉支部2021年グランドチャンピオン戦 3回戦", "JIOM千葉支部2021年グランドチャンピオン戦 4回戦", "千葉支部2020年グランドチャンピオン戦 1回戦", "千葉支部2020年グランドチャンピオン戦 2回戦", "千葉支部2020年グランドチャンピオン戦 3回戦", "千葉支部2020年グランドチャンピオン戦 4回戦", "京都桜杯2019 5回戦 A卓", "京都桜杯2019 6回戦 A卓", "京都桜杯2019 7回戦 A卓", "京都桜杯2019 8回戦 A卓", "京都桜杯2018 6回戦 A卓", "京都桜杯2018 7回戦 A卓", "京都桜杯2018 8回戦 A卓"];
ul
  each paipu in paipus
    +paipu_link(paipu)
