mixin player(lunban)
  .he(class=lunban)
    .dapai
    .huapai
  .shoupai(class=lunban)
    .shouli
    .fulou
  if page != 'autoplay'
    .player(class=lunban)
  .say(class=lunban)

+player('xiajia')
+player('duimian')
+player('shangjia')
+player('main')
