doctype html
html(lang="ja")

  head
    include ../html-include/meta.pug

    title 一人で中国麻雀: 牌譜ビューア

    include ../html-include/style.pug

    script(src="js/majiang.js" defer)
    script(src="js/paipu_edit.js" defer)

  body.file
    input(type="text" name="title" placeholder="タイトル")
    button#preview
      | 全体プレビュー
    table.paipuInfo
      tbody
        tr
          td プレイヤー名
          td(colspan="2")
            input(type="text" name="player0" placeholder="対局者A")
          td(colspan="2")
            input(type="text" name="player1" placeholder="対局者B")
          td(colspan="2")
            input(type="text" name="player2" placeholder="対局者C")
          td(colspan="2")
            input(type="text" name="player3" placeholder="対局者D")
        tr(data-ju="0")
          td 東一局
          td
            input(type="text" name="fenpei0" placeholder="得点")
          td
            input(type="text" name="defen0" placeholder="合計")
          td
            input(type="text" name="fenpei1" placeholder="得点")
          td
            input(type="text" name="defen1" placeholder="合計")
          td
            input(type="text" name="fenpei2" placeholder="得点")
          td
            input(type="text" name="defen2" placeholder="合計")
          td
            input(type="text" name="fenpei3" placeholder="得点")
          td
            input(type="text" name="defen3" placeholder="合計")
        tr(data-ju="1")
          td 東二局
          td
            input(type="text" name="fenpei0" placeholder="得点")
          td
            input(type="text" name="defen0" placeholder="合計")
          td
            input(type="text" name="fenpei1" placeholder="得点")
          td
            input(type="text" name="defen1" placeholder="合計")
          td
            input(type="text" name="fenpei2" placeholder="得点")
          td
            input(type="text" name="defen2" placeholder="合計")
          td
            input(type="text" name="fenpei3" placeholder="得点")
          td
            input(type="text" name="defen3" placeholder="合計")
        tr(data-ju="2")
          td 東三局
          td
            input(type="text" name="fenpei0" placeholder="得点")
          td
            input(type="text" name="defen0" placeholder="合計")
          td
            input(type="text" name="fenpei1" placeholder="得点")
          td
            input(type="text" name="defen1" placeholder="合計")
          td
            input(type="text" name="fenpei2" placeholder="得点")
          td
            input(type="text" name="defen2" placeholder="合計")
          td
            input(type="text" name="fenpei3" placeholder="得点")
          td
            input(type="text" name="defen3" placeholder="合計")
        tr(data-ju="3")
          td 東四局
          td
            input(type="text" name="fenpei0" placeholder="得点")
          td
            input(type="text" name="defen0" placeholder="合計")
          td
            input(type="text" name="fenpei1" placeholder="得点")
          td
            input(type="text" name="defen1" placeholder="合計")
          td
            input(type="text" name="fenpei2" placeholder="得点")
          td
            input(type="text" name="defen2" placeholder="合計")
          td
            input(type="text" name="fenpei3" placeholder="得点")
          td
            input(type="text" name="defen3" placeholder="合計")
        tr(data-ju="4")
          td 南一局
          td
            input(type="text" name="fenpei0" placeholder="得点")
          td
            input(type="text" name="defen0" placeholder="合計")
          td
            input(type="text" name="fenpei1" placeholder="得点")
          td
            input(type="text" name="defen1" placeholder="合計")
          td
            input(type="text" name="fenpei2" placeholder="得点")
          td
            input(type="text" name="defen2" placeholder="合計")
          td
            input(type="text" name="fenpei3" placeholder="得点")
          td
            input(type="text" name="defen3" placeholder="合計")
        tr(data-ju="5")
          td 南二局
          td
            input(type="text" name="fenpei0" placeholder="得点")
          td
            input(type="text" name="defen0" placeholder="合計")
          td
            input(type="text" name="fenpei1" placeholder="得点")
          td
            input(type="text" name="defen1" placeholder="合計")
          td
            input(type="text" name="fenpei2" placeholder="得点")
          td
            input(type="text" name="defen2" placeholder="合計")
          td
            input(type="text" name="fenpei3" placeholder="得点")
          td
            input(type="text" name="defen3" placeholder="合計")
        tr(data-ju="6")
          td 南三局
          td
            input(type="text" name="fenpei0" placeholder="得点")
          td
            input(type="text" name="defen0" placeholder="合計")
          td
            input(type="text" name="fenpei1" placeholder="得点")
          td
            input(type="text" name="defen1" placeholder="合計")
          td
            input(type="text" name="fenpei2" placeholder="得点")
          td
            input(type="text" name="defen2" placeholder="合計")
          td
            input(type="text" name="fenpei3" placeholder="得点")
          td
            input(type="text" name="defen3" placeholder="合計")
        tr(data-ju="7")
          td 南四局
          td
            input(type="text" name="fenpei0" placeholder="得点")
          td
            input(type="text" name="defen0" placeholder="合計")
          td
            input(type="text" name="fenpei1" placeholder="得点")
          td
            input(type="text" name="defen1" placeholder="合計")
          td
            input(type="text" name="fenpei2" placeholder="得点")
          td
            input(type="text" name="defen2" placeholder="合計")
          td
            input(type="text" name="fenpei3" placeholder="得点")
          td
            input(type="text" name="defen3" placeholder="合計")
        tr(data-ju="8")
          td 西一局
          td
            input(type="text" name="fenpei0" placeholder="得点")
          td
            input(type="text" name="defen0" placeholder="合計")
          td
            input(type="text" name="fenpei1" placeholder="得点")
          td
            input(type="text" name="defen1" placeholder="合計")
          td
            input(type="text" name="fenpei2" placeholder="得点")
          td
            input(type="text" name="defen2" placeholder="合計")
          td
            input(type="text" name="fenpei3" placeholder="得点")
          td
            input(type="text" name="defen3" placeholder="合計")
        tr(data-ju="9")
          td 西二局
          td
            input(type="text" name="fenpei0" placeholder="得点")
          td
            input(type="text" name="defen0" placeholder="合計")
          td
            input(type="text" name="fenpei1" placeholder="得点")
          td
            input(type="text" name="defen1" placeholder="合計")
          td
            input(type="text" name="fenpei2" placeholder="得点")
          td
            input(type="text" name="defen2" placeholder="合計")
          td
            input(type="text" name="fenpei3" placeholder="得点")
          td
            input(type="text" name="defen3" placeholder="合計")
        tr(data-ju="10")
          td 西三局
          td
            input(type="text" name="fenpei0" placeholder="得点")
          td
            input(type="text" name="defen0" placeholder="合計")
          td
            input(type="text" name="fenpei1" placeholder="得点")
          td
            input(type="text" name="defen1" placeholder="合計")
          td
            input(type="text" name="fenpei2" placeholder="得点")
          td
            input(type="text" name="defen2" placeholder="合計")
          td
            input(type="text" name="fenpei3" placeholder="得点")
          td
            input(type="text" name="defen3" placeholder="合計")
        tr(data-ju="11")
          td 西四局
          td
            input(type="text" name="fenpei0" placeholder="得点")
          td
            input(type="text" name="defen0" placeholder="合計")
          td
            input(type="text" name="fenpei1" placeholder="得点")
          td
            input(type="text" name="defen1" placeholder="合計")
          td
            input(type="text" name="fenpei2" placeholder="得点")
          td
            input(type="text" name="defen2" placeholder="合計")
          td
            input(type="text" name="fenpei3" placeholder="得点")
          td
            input(type="text" name="defen3" placeholder="合計")
        tr(data-ju="12")
          td 北一局
          td
            input(type="text" name="fenpei0" placeholder="得点")
          td
            input(type="text" name="defen0" placeholder="合計")
          td
            input(type="text" name="fenpei1" placeholder="得点")
          td
            input(type="text" name="defen1" placeholder="合計")
          td
            input(type="text" name="fenpei2" placeholder="得点")
          td
            input(type="text" name="defen2" placeholder="合計")
          td
            input(type="text" name="fenpei3" placeholder="得点")
          td
            input(type="text" name="defen3" placeholder="合計")
        tr(data-ju="13")
          td 北二局
          td
            input(type="text" name="fenpei0" placeholder="得点")
          td
            input(type="text" name="defen0" placeholder="合計")
          td
            input(type="text" name="fenpei1" placeholder="得点")
          td
            input(type="text" name="defen1" placeholder="合計")
          td
            input(type="text" name="fenpei2" placeholder="得点")
          td
            input(type="text" name="defen2" placeholder="合計")
          td
            input(type="text" name="fenpei3" placeholder="得点")
          td
            input(type="text" name="defen3" placeholder="合計")
        tr(data-ju="14")
          td 北三局
          td
            input(type="text" name="fenpei0" placeholder="得点")
          td
            input(type="text" name="defen0" placeholder="合計")
          td
            input(type="text" name="fenpei1" placeholder="得点")
          td
            input(type="text" name="defen1" placeholder="合計")
          td
            input(type="text" name="fenpei2" placeholder="得点")
          td
            input(type="text" name="defen2" placeholder="合計")
          td
            input(type="text" name="fenpei3" placeholder="得点")
          td
            input(type="text" name="defen3" placeholder="合計")
        tr(data-ju="15")
          td 北四局
          td
            input(type="text" name="fenpei0" placeholder="得点")
          td
            input(type="text" name="defen0" placeholder="合計")
          td
            input(type="text" name="fenpei1" placeholder="得点")
          td
            input(type="text" name="defen1" placeholder="合計")
          td
            input(type="text" name="fenpei2" placeholder="得点")
          td
            input(type="text" name="defen2" placeholder="合計")
          td
            input(type="text" name="fenpei3" placeholder="得点")
          td
            input(type="text" name="defen3" placeholder="合計")
        tr
          td 素点
          td(colspan="2")
            input(type="text" name="zongdefen0" placeholder="素点")
          td(colspan="2")
            input(type="text" name="zongdefen1" placeholder="素点")
          td(colspan="2")
            input(type="text" name="zongdefen2" placeholder="素点")
          td(colspan="2")
            input(type="text" name="zongdefen3" placeholder="素点")
        tr
          td ポイント
          td(colspan="2")
            input(type="text" name="point0" placeholder="ポイント")
          td(colspan="2")
            input(type="text" name="point1" placeholder="ポイント")
          td(colspan="2")
            input(type="text" name="point2" placeholder="ポイント")
          td(colspan="2")
            input(type="text" name="point3" placeholder="ポイント")
        tr
          td 順位
          td(colspan="2")
            input(type="text" name="rank0" placeholder="順位")
          td(colspan="2")
            input(type="text" name="rank1" placeholder="順位")
          td(colspan="2")
            input(type="text" name="rank2" placeholder="順位")
          td(colspan="2")
            input(type="text" name="rank3" placeholder="順位")
      button#saveInfo
        | 対局情報を確定
    table.paipuLog
      tr.paipuLog__ju(data-ju="0")
        td
          a(href="paipu_edit_single.html?quanfeng=0&jushu=0&zuoci=0&zuoci=1&zuoci=2&zuoci=3" target="_blank" class="paipuSingle" data-log="[]") 東一局
        td
          a(href="#" target="_blank" class="paipuSinglePreview") プレビュー
        td
          button.loadButtonSingle
            | ロード
      tr.paipuLog__ju(data-ju="1")
        td
          a(href="paipu_edit_single.html?quanfeng=0&jushu=1&zuoci=1&zuoci=2&zuoci=3&zuoci=0" target="_blank" class="paipuSingle" data-log="[]") 東二局
        td
          a(href="#" target="_blank" class="paipuSinglePreview") プレビュー
        td
          button.loadButtonSingle
            | ロード
      tr.paipuLog__ju(data-ju="2")
        td
          a(href="paipu_edit_single.html?quanfeng=0&jushu=2&zuoci=2&zuoci=3&zuoci=0&zuoci=1" target="_blank" class="paipuSingle" data-log="[]") 東三局
        td
          a(href="#" target="_blank" class="paipuSinglePreview") プレビュー
        td
          button.loadButtonSingle
            | ロード
      tr.paipuLog__ju(data-ju="3")
        td
          a(href="paipu_edit_single.html?quanfeng=0&jushu=3&zuoci=3&zuoci=0&zuoci=1&zuoci=2" target="_blank" class="paipuSingle" data-log="[]") 東四局
        td
          a(href="#" target="_blank" class="paipuSinglePreview") プレビュー
        td
          button.loadButtonSingle
            | ロード
      tr.paipuLog__ju(data-ju="4")
        td
          a(href="paipu_edit_single.html?quanfeng=1&jushu=0&zuoci=1&zuoci=0&zuoci=3&zuoci=2" target="_blank" class="paipuSingle" data-log="[]") 南一局
        td
          a(href="#" target="_blank" class="paipuSinglePreview") プレビュー
        td
          button.loadButtonSingle
            | ロード
      tr.paipuLog__ju(data-ju="5")
        td
          a(href="paipu_edit_single.html?quanfeng=1&jushu=1&zuoci=0&zuoci=3&zuoci=2&zuoci=1" target="_blank" class="paipuSingle" data-log="[]") 南二局
        td
          a(href="#" target="_blank" class="paipuSinglePreview") プレビュー
        td
          button.loadButtonSingle
            | ロード
      tr.paipuLog__ju(data-ju="6")
        td
          a(href="paipu_edit_single.html?quanfeng=1&jushu=2&zuoci=3&zuoci=2&zuoci=1&zuoci=0" target="_blank" class="paipuSingle" data-log="[]") 南三局
        td
          a(href="#" target="_blank" class="paipuSinglePreview") プレビュー
        td
          button.loadButtonSingle
            | ロード
      tr.paipuLog__ju(data-ju="7")
        td
          a(href="paipu_edit_single.html?quanfeng=1&jushu=3&zuoci=2&zuoci=1&zuoci=0&zuoci=3" target="_blank" class="paipuSingle" data-log="[]") 南四局
        td
          a(href="#" target="_blank" class="paipuSinglePreview") プレビュー
        td
          button.loadButtonSingle
            | ロード
      tr.paipuLog__ju(data-ju="8")
        td
          a(href="paipu_edit_single.html?quanfeng=2&jushu=0&zuoci=2&zuoci=3&zuoci=1&zuoci=0" target="_blank" class="paipuSingle" data-log="[]") 西一局
        td
          a(href="#" target="_blank" class="paipuSinglePreview") プレビュー
        td
          button.loadButtonSingle
            | ロード
      tr.paipuLog__ju(data-ju="9")
        td
          a(href="paipu_edit_single.html?quanfeng=2&jushu=1&zuoci=3&zuoci=1&zuoci=0&zuoci=2" target="_blank" class="paipuSingle" data-log="[]") 西二局
        td
          a(href="#" target="_blank" class="paipuSinglePreview") プレビュー
        td
          button.loadButtonSingle
            | ロード
      tr.paipuLog__ju(data-ju="10")
        td
          a(href="paipu_edit_single.html?quanfeng=2&jushu=2&zuoci=1&zuoci=0&zuoci=2&zuoci=3" target="_blank" class="paipuSingle" data-log="[]") 西三局
        td
          a(href="#" target="_blank" class="paipuSinglePreview") プレビュー
        td
          button.loadButtonSingle
            | ロード
      tr.paipuLog__ju(data-ju="11")
        td
          a(href="paipu_edit_single.html?quanfeng=2&jushu=3&zuoci=0&zuoci=2&zuoci=3&zuoci=1" target="_blank" class="paipuSingle" data-log="[]") 西四局
        td
          a(href="#" target="_blank" class="paipuSinglePreview") プレビュー
        td
          button.loadButtonSingle
            | ロード
      tr.paipuLog__ju(data-ju="12")
        td
          a(href="paipu_edit_single.html?quanfeng=3&jushu=0&zuoci=3&zuoci=2&zuoci=0&zuoci=1" target="_blank" class="paipuSingle" data-log="[]") 北一局
        td
          a(href="#" target="_blank" class="paipuSinglePreview") プレビュー
        td
          button.loadButtonSingle
            | ロード
      tr.paipuLog__ju(data-ju="13")
        td
          a(href="paipu_edit_single.html?quanfeng=3&jushu=1&zuoci=2&zuoci=0&zuoci=1&zuoci=3" target="_blank" class="paipuSingle" data-log="[]") 北二局
        td
          a(href="#" target="_blank" class="paipuSinglePreview") プレビュー
        td
          button.loadButtonSingle
            | ロード
      tr.paipuLog__ju(data-ju="14")
        td
          a(href="paipu_edit_single.html?quanfeng=3&jushu=2&zuoci=0&zuoci=1&zuoci=3&zuoci=2" target="_blank" class="paipuSingle" data-log="[]") 北三局
        td
          a(href="#" target="_blank" class="paipuSinglePreview") プレビュー
        td
          button.loadButtonSingle
            | ロード
      tr.paipuLog__ju(data-ju="15")
        td
          a(href="paipu_edit_single.html?quanfeng=3&jushu=3&zuoci=1&zuoci=3&zuoci=2&zuoci=0" target="_blank" class="paipuSingle" data-log="[]") 北四局
        td
          a(href="#" target="_blank" class="paipuSinglePreview") プレビュー
        td
          button.loadButtonSingle
            | ロード


    .version
