mixin click_pai(pos,p)
  img(class="clickPai clickPai--blank" data-pos=pos data-p=p src="img/transparent/"+p+".png" width="36" height="48")

mixin click_say(pos,p)
  div(class="clickSay" data-pos=pos data-p=p)

doctype html
html(lang="ja")

  head
    include ../html-include/meta.pug

    title 一人で中国麻雀: 牌譜ビューア

    include ../html-include/style.pug

    script(src="js/majiang.js" defer)
    script(src="js/paipu_edit_single.js" defer)

  body.file
    button.previewButton#preview
      | プレビュー
    button.saveButton#save
      | 保存
    button.loadButton#load
      | ロード
    .section
      div.info
        span.l 東
        span.player
      table.paiTable
        tr
          td 配牌
          td
            +click_pai('x1000','b0')
            +click_pai('x1001','b0')
            +click_pai('x1002','b0')
            +click_pai('x1003','b0')
            +click_pai('x1004','b0')
            +click_pai('x1005','b0')
            +click_pai('x1006','b0')
            +click_pai('x1007','b0')
            +click_pai('x1008','b0')
            +click_pai('x1009','b0')
            +click_pai('x1010','b0')
            +click_pai('x1011','b0')
            +click_pai('x1012','b0')
        tr
          td
          td.paiTable__sayLine
            +click_say('x1100')
            +click_say('x1101')
            +click_say('x1102')
            +click_say('x1103')
            +click_say('x1104')
            +click_say('x1105')
            +click_say('x1106')
            +click_say('x1107')
            +click_say('x1108')
            +click_say('x1109')
            +click_say('x1110')
            +click_say('x1111')
            +click_say('x1112')
            +click_say('x1113')
            +click_say('x1114')
            +click_say('x1115')
            +click_say('x1116')
            +click_say('x1117')
            +click_say('x1118')
            +click_say('x1119')
            +click_say('x1120')
            +click_say('x1121')
            +click_say('x1122')
            +click_say('x1123')
            +click_say('x1124')
            +click_say('x1125')
            +click_say('x1126')
            +click_say('x1127')
            +click_say('x1128')
            +click_say('x1129')
        tr
          td ツモ
          td
            +click_pai('x1100','b0')
            +click_pai('x1101','b0')
            +click_pai('x1102','b0')
            +click_pai('x1103','b0')
            +click_pai('x1104','b0')
            +click_pai('x1105','b0')
            +click_pai('x1106','b0')
            +click_pai('x1107','b0')
            +click_pai('x1108','b0')
            +click_pai('x1109','b0')
            +click_pai('x1110','b0')
            +click_pai('x1111','b0')
            +click_pai('x1112','b0')
            +click_pai('x1113','b0')
            +click_pai('x1114','b0')
            +click_pai('x1115','b0')
            +click_pai('x1116','b0')
            +click_pai('x1117','b0')
            +click_pai('x1118','b0')
            +click_pai('x1119','b0')
            +click_pai('x1120','b0')
            +click_pai('x1121','b0')
            +click_pai('x1122','b0')
            +click_pai('x1123','b0')
            +click_pai('x1124','b0')
            +click_pai('x1125','b0')
            +click_pai('x1126','b0')
            +click_pai('x1127','b0')
            +click_pai('x1128','b0')
            +click_pai('x1129','b0')
        tr
          td
          td.paiTable__sayLine
            +click_say('x1200')
            +click_say('x1201')
            +click_say('x1202')
            +click_say('x1203')
            +click_say('x1204')
            +click_say('x1205')
            +click_say('x1206')
            +click_say('x1207')
            +click_say('x1208')
            +click_say('x1209')
            +click_say('x1210')
            +click_say('x1211')
            +click_say('x1212')
            +click_say('x1213')
            +click_say('x1214')
            +click_say('x1215')
            +click_say('x1216')
            +click_say('x1217')
            +click_say('x1218')
            +click_say('x1219')
            +click_say('x1220')
            +click_say('x1221')
            +click_say('x1222')
            +click_say('x1223')
            +click_say('x1224')
            +click_say('x1225')
            +click_say('x1226')
            +click_say('x1227')
            +click_say('x1228')
            +click_say('x1229')
        tr
          td 捨牌
          td
            +click_pai('x1200','b0')
            +click_pai('x1201','b0')
            +click_pai('x1202','b0')
            +click_pai('x1203','b0')
            +click_pai('x1204','b0')
            +click_pai('x1205','b0')
            +click_pai('x1206','b0')
            +click_pai('x1207','b0')
            +click_pai('x1208','b0')
            +click_pai('x1209','b0')
            +click_pai('x1210','b0')
            +click_pai('x1211','b0')
            +click_pai('x1212','b0')
            +click_pai('x1213','b0')
            +click_pai('x1214','b0')
            +click_pai('x1215','b0')
            +click_pai('x1216','b0')
            +click_pai('x1217','b0')
            +click_pai('x1218','b0')
            +click_pai('x1219','b0')
            +click_pai('x1220','b0')
            +click_pai('x1221','b0')
            +click_pai('x1222','b0')
            +click_pai('x1223','b0')
            +click_pai('x1224','b0')
            +click_pai('x1225','b0')
            +click_pai('x1226','b0')
            +click_pai('x1227','b0')
            +click_pai('x1228','b0')
            +click_pai('x1229','b0')
        tr
          td 最終
          td
            +click_pai('x1300','b0')
            +click_pai('x1301','b0')
            +click_pai('x1302','b0')
            +click_pai('x1303','b0')
            +click_pai('x1304','b0')
            +click_pai('x1305','b0')
            +click_pai('x1306','b0')
            +click_pai('x1307','b0')
            +click_pai('x1308','b0')
            +click_pai('x1309','b0')
            +click_pai('x1310','b0')
            +click_pai('x1311','b0')
            +click_pai('x1312','b0')
      .fulouPanel.fulouPanel--0#fulouPanel0(style="display:flex")
    .section
      div.info
        span.l 南
        span.player
      table.paiTable
        tr
          td 配牌
          td
            +click_pai('x2000','b0')
            +click_pai('x2001','b0')
            +click_pai('x2002','b0')
            +click_pai('x2003','b0')
            +click_pai('x2004','b0')
            +click_pai('x2005','b0')
            +click_pai('x2006','b0')
            +click_pai('x2007','b0')
            +click_pai('x2008','b0')
            +click_pai('x2009','b0')
            +click_pai('x2010','b0')
            +click_pai('x2011','b0')
            +click_pai('x2012','b0')
        tr
          td
          td.paiTable__sayLine
            +click_say('x2100')
            +click_say('x2101')
            +click_say('x2102')
            +click_say('x2103')
            +click_say('x2104')
            +click_say('x2105')
            +click_say('x2106')
            +click_say('x2107')
            +click_say('x2108')
            +click_say('x2109')
            +click_say('x2110')
            +click_say('x2111')
            +click_say('x2112')
            +click_say('x2113')
            +click_say('x2114')
            +click_say('x2115')
            +click_say('x2116')
            +click_say('x2117')
            +click_say('x2118')
            +click_say('x2119')
            +click_say('x2120')
            +click_say('x2121')
            +click_say('x2122')
            +click_say('x2123')
            +click_say('x2124')
            +click_say('x2125')
            +click_say('x2126')
            +click_say('x2127')
            +click_say('x2128')
            +click_say('x2129')
        tr
          td ツモ
          td
            +click_pai('x2100','b0')
            +click_pai('x2101','b0')
            +click_pai('x2102','b0')
            +click_pai('x2103','b0')
            +click_pai('x2104','b0')
            +click_pai('x2105','b0')
            +click_pai('x2106','b0')
            +click_pai('x2107','b0')
            +click_pai('x2108','b0')
            +click_pai('x2109','b0')
            +click_pai('x2110','b0')
            +click_pai('x2111','b0')
            +click_pai('x2112','b0')
            +click_pai('x2113','b0')
            +click_pai('x2114','b0')
            +click_pai('x2115','b0')
            +click_pai('x2116','b0')
            +click_pai('x2117','b0')
            +click_pai('x2118','b0')
            +click_pai('x2119','b0')
            +click_pai('x2120','b0')
            +click_pai('x2121','b0')
            +click_pai('x2122','b0')
            +click_pai('x2123','b0')
            +click_pai('x2124','b0')
            +click_pai('x2125','b0')
            +click_pai('x2126','b0')
            +click_pai('x2127','b0')
            +click_pai('x2128','b0')
            +click_pai('x2129','b0')
        tr
          td
          td.paiTable__sayLine
            +click_say('x2200')
            +click_say('x2201')
            +click_say('x2202')
            +click_say('x2203')
            +click_say('x2204')
            +click_say('x2205')
            +click_say('x2206')
            +click_say('x2207')
            +click_say('x2208')
            +click_say('x2209')
            +click_say('x2210')
            +click_say('x2211')
            +click_say('x2212')
            +click_say('x2213')
            +click_say('x2214')
            +click_say('x2215')
            +click_say('x2216')
            +click_say('x2217')
            +click_say('x2218')
            +click_say('x2219')
            +click_say('x2220')
            +click_say('x2221')
            +click_say('x2222')
            +click_say('x2223')
            +click_say('x2224')
            +click_say('x2225')
            +click_say('x2226')
            +click_say('x2227')
            +click_say('x2228')
            +click_say('x2229')
        tr
          td 捨牌
          td
            +click_pai('x2200','b0')
            +click_pai('x2201','b0')
            +click_pai('x2202','b0')
            +click_pai('x2203','b0')
            +click_pai('x2204','b0')
            +click_pai('x2205','b0')
            +click_pai('x2206','b0')
            +click_pai('x2207','b0')
            +click_pai('x2208','b0')
            +click_pai('x2209','b0')
            +click_pai('x2210','b0')
            +click_pai('x2211','b0')
            +click_pai('x2212','b0')
            +click_pai('x2213','b0')
            +click_pai('x2214','b0')
            +click_pai('x2215','b0')
            +click_pai('x2216','b0')
            +click_pai('x2217','b0')
            +click_pai('x2218','b0')
            +click_pai('x2219','b0')
            +click_pai('x2220','b0')
            +click_pai('x2221','b0')
            +click_pai('x2222','b0')
            +click_pai('x2223','b0')
            +click_pai('x2224','b0')
            +click_pai('x2225','b0')
            +click_pai('x2226','b0')
            +click_pai('x2227','b0')
            +click_pai('x2228','b0')
            +click_pai('x2229','b0')
        tr
          td 最終
          td
            +click_pai('x2300','b0')
            +click_pai('x2301','b0')
            +click_pai('x2302','b0')
            +click_pai('x2303','b0')
            +click_pai('x2304','b0')
            +click_pai('x2305','b0')
            +click_pai('x2306','b0')
            +click_pai('x2307','b0')
            +click_pai('x2308','b0')
            +click_pai('x2309','b0')
            +click_pai('x2310','b0')
            +click_pai('x2311','b0')
            +click_pai('x2312','b0')
      .fulouPanel.fulouPanel--1#fulouPanel1(style="display:flex")
    .section
      div.info
        span.l 西
        span.player
      table.paiTable
        tr
          td 配牌
          td
            +click_pai('x3000','b0')
            +click_pai('x3001','b0')
            +click_pai('x3002','b0')
            +click_pai('x3003','b0')
            +click_pai('x3004','b0')
            +click_pai('x3005','b0')
            +click_pai('x3006','b0')
            +click_pai('x3007','b0')
            +click_pai('x3008','b0')
            +click_pai('x3009','b0')
            +click_pai('x3010','b0')
            +click_pai('x3011','b0')
            +click_pai('x3012','b0')
        tr
          td
          td.paiTable__sayLine
            +click_say('x3100')
            +click_say('x3101')
            +click_say('x3102')
            +click_say('x3103')
            +click_say('x3104')
            +click_say('x3105')
            +click_say('x3106')
            +click_say('x3107')
            +click_say('x3108')
            +click_say('x3109')
            +click_say('x3110')
            +click_say('x3111')
            +click_say('x3112')
            +click_say('x3113')
            +click_say('x3114')
            +click_say('x3115')
            +click_say('x3116')
            +click_say('x3117')
            +click_say('x3118')
            +click_say('x3119')
            +click_say('x3120')
            +click_say('x3121')
            +click_say('x3122')
            +click_say('x3123')
            +click_say('x3124')
            +click_say('x3125')
            +click_say('x3126')
            +click_say('x3127')
            +click_say('x3128')
            +click_say('x3129')
        tr
          td ツモ
          td
            +click_pai('x3100','b0')
            +click_pai('x3101','b0')
            +click_pai('x3102','b0')
            +click_pai('x3103','b0')
            +click_pai('x3104','b0')
            +click_pai('x3105','b0')
            +click_pai('x3106','b0')
            +click_pai('x3107','b0')
            +click_pai('x3108','b0')
            +click_pai('x3109','b0')
            +click_pai('x3110','b0')
            +click_pai('x3111','b0')
            +click_pai('x3112','b0')
            +click_pai('x3113','b0')
            +click_pai('x3114','b0')
            +click_pai('x3115','b0')
            +click_pai('x3116','b0')
            +click_pai('x3117','b0')
            +click_pai('x3118','b0')
            +click_pai('x3119','b0')
            +click_pai('x3120','b0')
            +click_pai('x3121','b0')
            +click_pai('x3122','b0')
            +click_pai('x3123','b0')
            +click_pai('x3124','b0')
            +click_pai('x3125','b0')
            +click_pai('x3126','b0')
            +click_pai('x3127','b0')
            +click_pai('x3128','b0')
            +click_pai('x3129','b0')
        tr
          td
          td.paiTable__sayLine
            +click_say('x3200')
            +click_say('x3201')
            +click_say('x3202')
            +click_say('x3203')
            +click_say('x3204')
            +click_say('x3205')
            +click_say('x3206')
            +click_say('x3207')
            +click_say('x3208')
            +click_say('x3209')
            +click_say('x3210')
            +click_say('x3211')
            +click_say('x3212')
            +click_say('x3213')
            +click_say('x3214')
            +click_say('x3215')
            +click_say('x3216')
            +click_say('x3217')
            +click_say('x3218')
            +click_say('x3219')
            +click_say('x3220')
            +click_say('x3221')
            +click_say('x3222')
            +click_say('x3223')
            +click_say('x3224')
            +click_say('x3225')
            +click_say('x3226')
            +click_say('x3227')
            +click_say('x3228')
            +click_say('x3229')
        tr
          td 捨牌
          td
            +click_pai('x3200','b0')
            +click_pai('x3201','b0')
            +click_pai('x3202','b0')
            +click_pai('x3203','b0')
            +click_pai('x3204','b0')
            +click_pai('x3205','b0')
            +click_pai('x3206','b0')
            +click_pai('x3207','b0')
            +click_pai('x3208','b0')
            +click_pai('x3209','b0')
            +click_pai('x3210','b0')
            +click_pai('x3211','b0')
            +click_pai('x3212','b0')
            +click_pai('x3213','b0')
            +click_pai('x3214','b0')
            +click_pai('x3215','b0')
            +click_pai('x3216','b0')
            +click_pai('x3217','b0')
            +click_pai('x3218','b0')
            +click_pai('x3219','b0')
            +click_pai('x3220','b0')
            +click_pai('x3221','b0')
            +click_pai('x3222','b0')
            +click_pai('x3223','b0')
            +click_pai('x3224','b0')
            +click_pai('x3225','b0')
            +click_pai('x3226','b0')
            +click_pai('x3227','b0')
            +click_pai('x3228','b0')
            +click_pai('x3229','b0')
        tr
          td 最終
          td
            +click_pai('x3300','b0')
            +click_pai('x3301','b0')
            +click_pai('x3302','b0')
            +click_pai('x3303','b0')
            +click_pai('x3304','b0')
            +click_pai('x3305','b0')
            +click_pai('x3306','b0')
            +click_pai('x3307','b0')
            +click_pai('x3308','b0')
            +click_pai('x3309','b0')
            +click_pai('x3310','b0')
            +click_pai('x3311','b0')
            +click_pai('x3312','b0')
      .fulouPanel.fulouPanel--2#fulouPanel2(style="display:flex")
    .section
      div.info
        span.l 北
        span.player
      table.paiTable
        tr
          td 配牌
          td
            +click_pai('x4000','b0')
            +click_pai('x4001','b0')
            +click_pai('x4002','b0')
            +click_pai('x4003','b0')
            +click_pai('x4004','b0')
            +click_pai('x4005','b0')
            +click_pai('x4006','b0')
            +click_pai('x4007','b0')
            +click_pai('x4008','b0')
            +click_pai('x4009','b0')
            +click_pai('x4010','b0')
            +click_pai('x4011','b0')
            +click_pai('x4012','b0')
        tr
          td
          td.paiTable__sayLine
            +click_say('x4100')
            +click_say('x4101')
            +click_say('x4102')
            +click_say('x4103')
            +click_say('x4104')
            +click_say('x4105')
            +click_say('x4106')
            +click_say('x4107')
            +click_say('x4108')
            +click_say('x4109')
            +click_say('x4110')
            +click_say('x4111')
            +click_say('x4112')
            +click_say('x4113')
            +click_say('x4114')
            +click_say('x4115')
            +click_say('x4116')
            +click_say('x4117')
            +click_say('x4118')
            +click_say('x4119')
            +click_say('x4120')
            +click_say('x4121')
            +click_say('x4122')
            +click_say('x4123')
            +click_say('x4124')
            +click_say('x4125')
            +click_say('x4126')
            +click_say('x4127')
            +click_say('x4128')
            +click_say('x4129')
        tr
          td ツモ
          td
            +click_pai('x4100','b0')
            +click_pai('x4101','b0')
            +click_pai('x4102','b0')
            +click_pai('x4103','b0')
            +click_pai('x4104','b0')
            +click_pai('x4105','b0')
            +click_pai('x4106','b0')
            +click_pai('x4107','b0')
            +click_pai('x4108','b0')
            +click_pai('x4109','b0')
            +click_pai('x4110','b0')
            +click_pai('x4111','b0')
            +click_pai('x4112','b0')
            +click_pai('x4113','b0')
            +click_pai('x4114','b0')
            +click_pai('x4115','b0')
            +click_pai('x4116','b0')
            +click_pai('x4117','b0')
            +click_pai('x4118','b0')
            +click_pai('x4119','b0')
            +click_pai('x4120','b0')
            +click_pai('x4121','b0')
            +click_pai('x4122','b0')
            +click_pai('x4123','b0')
            +click_pai('x4124','b0')
            +click_pai('x4125','b0')
            +click_pai('x4126','b0')
            +click_pai('x4127','b0')
            +click_pai('x4128','b0')
            +click_pai('x4129','b0')
        tr
          td
          td.paiTable__sayLine
            +click_say('x4200')
            +click_say('x4201')
            +click_say('x4202')
            +click_say('x4203')
            +click_say('x4204')
            +click_say('x4205')
            +click_say('x4206')
            +click_say('x4207')
            +click_say('x4208')
            +click_say('x4209')
            +click_say('x4210')
            +click_say('x4211')
            +click_say('x4212')
            +click_say('x4213')
            +click_say('x4214')
            +click_say('x4215')
            +click_say('x4216')
            +click_say('x4217')
            +click_say('x4218')
            +click_say('x4219')
            +click_say('x4220')
            +click_say('x4221')
            +click_say('x4222')
            +click_say('x4223')
            +click_say('x4224')
            +click_say('x4225')
            +click_say('x4226')
            +click_say('x4227')
            +click_say('x4228')
            +click_say('x4229')
        tr
          td 捨牌
          td
            +click_pai('x4200','b0')
            +click_pai('x4201','b0')
            +click_pai('x4202','b0')
            +click_pai('x4203','b0')
            +click_pai('x4204','b0')
            +click_pai('x4205','b0')
            +click_pai('x4206','b0')
            +click_pai('x4207','b0')
            +click_pai('x4208','b0')
            +click_pai('x4209','b0')
            +click_pai('x4210','b0')
            +click_pai('x4211','b0')
            +click_pai('x4212','b0')
            +click_pai('x4213','b0')
            +click_pai('x4214','b0')
            +click_pai('x4215','b0')
            +click_pai('x4216','b0')
            +click_pai('x4217','b0')
            +click_pai('x4218','b0')
            +click_pai('x4219','b0')
            +click_pai('x4220','b0')
            +click_pai('x4221','b0')
            +click_pai('x4222','b0')
            +click_pai('x4223','b0')
            +click_pai('x4224','b0')
            +click_pai('x4225','b0')
            +click_pai('x4226','b0')
            +click_pai('x4227','b0')
            +click_pai('x4228','b0')
            +click_pai('x4229','b0')
        tr
          td 最終
          td
            +click_pai('x4300','b0')
            +click_pai('x4301','b0')
            +click_pai('x4302','b0')
            +click_pai('x4303','b0')
            +click_pai('x4304','b0')
            +click_pai('x4305','b0')
            +click_pai('x4306','b0')
            +click_pai('x4307','b0')
            +click_pai('x4308','b0')
            +click_pai('x4309','b0')
            +click_pai('x4310','b0')
            +click_pai('x4311','b0')
            +click_pai('x4312','b0')
      .fulouPanel.fulouPanel--3#fulouPanel3(style="display:flex")

    .version
