@media screen and (min-width: 820px) and (min-height: 720px) {

    body.analyzer {
        width: 1400px;
        margin: 0 auto;
        #navi
        > .version {
            width: 1400px;
            clear: both;
        }
        #game {
            float: left;
        }
    }
}

table.status
table.dapai {
    td {
        white-space: nowrap;
    }
    .xiangting {
        padding: 0 1em;
        text-align: center;
    }
    .eval {
        text-align: right;
        padding-right: 1em;
    }
    .action {
        padding-left: 0.5em;
    }
    .p
    .tingpai {
        img {
            vertical-align: middle;
        }
        span {
            padding-left: 0.5em;
        }
    }
}
