#data {
  h1 {
    margin-top: 0;
    border-bottom: solid 2px black;
    font-family: sans-serif;
    font-size: 24px;
    img {
      height: 36px;
      vertical-align: bottom;
    }
  }
  .version {
    margin-top: -3em;
    font-size: 12px;
    font-family: serif;
    text-align: right;
  }
  .navi {
    margin-top: 15px;
    font-size: 18px;
    font-family: Verdana, sans-serif;
    a {
      display: inline-block;
      padding: 10px;
      background-color: lightsteelblue;
      text-decoration: none;

      &:hover {
        background-color: lightblue;
      }
    }
  }
}

.data_table {
  tr:nth-child(odd){
    background-color: whitesmoke;
  }
  tr {
    text-align: center;

    &:hover {
      background-color: gold;
    }
  }
  th,
  td {
    padding: 5px;
    text-align: center;
  }
}
